<div id="fl-menu">
  <style>
    html, body { margin: 0; padding: 0; }
    {{> index.css }}
  </style>
  <script src="https://code.jquery.com/jquery-2.2.0.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/materialize/0.97.2/js/materialize.min.js"></script>
  <script>
   var $ = jQuery;
   (function($){
     $(function(){

       $('.dropdown-button').dropdown({
         inDuration: 300,
         outDuration: 225,
         constrain_width: false,
         hover: false,
         alignment: 'right',
         gutter: 0,
         belowOrigin: true
       });

       $('.button-collapse').sideNav({menuWidth: 240, activationWidth: 70});

     }); // end of document ready
   })(jQuery); // end of jQuery name space
  </script>
  <nav>
    <div class="nav-wrapper">
        <a class="brand-logo hide-on-med-and-down left" href="http://focallocal.org">Focallocal</a>

        <ul class="hide-on-small-and-down left">
          {{#left}}
            {{> menu-item }}
          {{/left}}
        </ul>


        <ul class="right">
          {{#right}}
            {{> menu-item }}
          {{/right}}
        </ul>

        <ul id="user-dropdown" class="dropdown-content">
            <!-- @TODO: show 'logout' link if current user is logged in -->
              <li><a hre="http://news.focallocal.org/sign-in">Log in</a></li>
            <li><a href="http://news.focallocal.org/sign-up">Register</a></li>
        </ul>

        <a class="button-collapse" href="#" data-activates="nav-mobile"><i class="mdi-navigation-menu"></i></a>
      </div>
  </nav>

  <ul id="nav-mobile" class="side-nav">
      {{#left}}
        {{> menu-item }}
      {{/left}}
      {{#right}}
        {{> menu-item }}
      {{/right}}
  </ul>
</div>
